{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'AllAttendenceReport' %}">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Take Attendance</span></h5>
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% elif message.tags == 'error' %}
                        <div class="alert alert-error alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Take Attendance</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Subject</label>
                                <select class="form-control" name="subject_id" required>
                                    <option>Select Subject</option>
                                    {% for i in subject %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Department Name</label>
                                <input type="text" class="form-control" value="{{dep.id}}" name="depid" hidden>
                                <input type="text" class="form-control" value="{{dep.name}}" name="dep_name" readonly>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Course Name</label>
                                <input type="text" class="form-control" value="{{course.id}}" name="courseid" hidden>
                                <input type="text" class="form-control" value="{{course.name}}" name="course_name"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Fetch Stucent</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}