{% extends 'base.html' %}
{% block content %}
<h2>Your Attendance Data</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table_id" class="table table-hover table-center mb-0 ">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Total Lectures</th>
                                <th>Attended Lectures</th>
                                <th>Attendance Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance_data in attendance_data_list %}
                            <tr>
                                <td>{{ attendance_data.subject_name }}</td>
                                <td>{{ attendance_data.total_lectures }}</td>
                                <td>{{ attendance_data.attended_lectures }}</td>
                                <td>{{ attendance_data.attendance_percentage }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}